<div layout="row" layout-align="center center" style="max-width: 700px; width: 100%" id="say-container">
    <img id="bieber-img" src="http://images2.fanpop.com/image/photos/11900000/Justin-lol-justin-bieber-11948220-687-518.jpg">
    <span>, say</span>
    <input id="input-say" ng-model="vm.sayText" flex type="text" placeholder="Type something ...">
    <md-button class="md-fab" aria-label="Comment" style="background: white;" ng-click="vm.say();">
        <md-icon md-svg-src="content/icons/ic_mic_black_24px.svg" style="color: #DADADA"></md-icon>
    </md-button>
</div>